<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

     <!-- byname mode i will use  -->
    
     
     <bean id="Car" class="com.autowiring.Car" >
     <constructor-arg name="carName" value="AUDI R8 "/>
     <constructor-arg name="carWheels" value="4"/>
     </bean>
     
     <bean id="vehicle" class="com.autowiring.Vehicle" autowire="byName">
     <constructor-arg name="car" value="Your Car Name"/>
     <property name="carString" value="ROLLS ROYCE"/>
     <property name="carWheels" value="6"/>
     
     </bean>
     
     
     
    
 
    
</beans>





