<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

  
     
 
     <!-- Dependences of object spring creation automatically  in student class  -->
     
     
     <!-- this is the Object creation for use multiple times to use in our program -->
      <bean id="stud1" class="com.dependent.injection.object.type.Student1"/>
      
      
      
     <bean id="studentOfObject" class="com.dependent.injection.object.type.Student">
      <property name="studentName" value="yogesh joga darling"/>
      <property name="rollNum" value="1007"/>
      <property name="stud1" ref="stud1"/>
     
     </bean>

     
     
     
    
    
</beans>





